/* --- Pagination --- */
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.pagination button {
  background-color: white;
  border: 1px solid #ddd;
  color: #66A5AD;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  margin: 0 4px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 4px;
}

.pagination button.active {
  background-color: #66A5AD;
  color: white;
  border: 1px solid #66A5AD;
}

.pagination button:hover:not(.active) {
  background-color: #f0f9eb;
}

body.dark-mode .pagination button {
  background-color: #033639;
  border-color: #448c90;
  color: #e5e7eb;
}

body.dark-mode .pagination button.active {
  background-color: #001F25;
  color: #ffffff;
  border-color: #448c90;
}

body.dark-mode .pagination button:hover:not(.active) {
  background-color: #033639;
}
